table {
    width: 100%;
  }
  .mat-row {
    height: auto;
  }
  .mat-cell {
    padding: 8px 150px 8px 0;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }


  fieldset {
    font-family: sans-serif;
    border: 4px solid #d2d5d9;
    /* border: 5px solid #1F497D; */
    background: #fff;
    border-radius: 5px;
    padding: 25px;
}

fieldset legend {
    background: #d2d5d9;
    color: #2d3438;
    padding: 5px 10px ;
    font-size: 32px;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #fff;
    margin-left: 20px;
}
